{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<meta name="csrf-token" content="{{ csrf_token }}">
<div id="app-personal" class="container mt-4">
    <div class="row mb-2">
        <div class="col-md-6">
            <input v-model="searchQuery" @input="onSearch" class="form-control" placeholder="Buscar por nombre, apellido o empresa" />
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-primary" @click="openModal('add')"><i class="fas fa-plus"></i> </button>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>CUIT</th>
                <th>Cumpleaños</th>
                <th>Empresa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="personal in filteredPersonal" :key="personal.id">
                <td>[[ personal.apellido ]]</td>
                <td>[[ personal.nombre ]]</td>
                <td>[[ personal.dni ]]</td>
                <td>[[ personal.cuit ]]</td>
                <td>[[ formatDate(personal.fecha_nacimiento) ]]</td>
                <td>[[ personal.empresa_nombre ]]</td>
                <td>
                    <button class="btn btn-warning btn-sm" @click="openModal('edit', personal)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" @click="deletePersonal(personal.id)">
                        <i class="fas fa-trash"></i> 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal para Agregar/Editar Tipo vencimiento... -->
    <div class="modal" tabindex="-1" role="dialog" id="modal-form">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">[[ modalTitle ]]</h5>
                    <button type="button" class="close" @click="closeModal">Cerrar
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="savePersonal">
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input v-model="formData.apellido" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input v-model="formData.nombre" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="dni">DNI</label>
                            <input v-model="formData.dni" class="form-control" type="number">
                        </div>

                        <div class="form-group">
                            <label for="cuit">CUIT</label>
                            <input v-model="formData.cuit" class="form-control" type="number">
                        </div>

                        <div class="form-group">
                            <label for="fecha">Fecha Nacimiento</label>
                            <input v-model="formData.fecha_nacimiento" class="form-control" type="date">
                        </div>

                        <div class="form-group">
                            <label for="empresa">Empresa</label>
                            <select v-model="formData.empresa" class="form-control">
                                <option value="">-- Seleccione una Empresa --</option>
                                <option v-for="empresa in empresas" :key="empresa.id" :value="empresa.id">[[ empresa.nombre ]]</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success">[[ modalButtonLabel ]]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
new Vue({
    el: '#app-personal',
    delimiters: ['[[', ']]'],
    data() {
        return {
            personales: [],  // Lista de tipos de vencimiento...
            searchQuery: '',
            formData: {
                id: null,
                apellido: '',
                nombre: '',
                dni: '',
                cuit: '',
                baja: false,
                fecha_nacimiento: '',
                empresa: ''
            },
            modalTitle: '',
            modalButtonLabel: '',
            empresas: [],
        };
    },
    computed: {
        filteredPersonal() {
            if (!this.searchQuery) {
                return this.personales; // Devuelve todo si no hay búsqueda
            }
            return this.personales.filter(personal =>
                personal.apellido.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                personal.nombre.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                personal.empresa.nombre.toLowerCase().includes(this.searchQuery.toLowerCase())
            );
        }
    },
    mounted() {
        this.fetchPersonal();
        this.loadEmpresas();
    },
    methods: {
        onSearch() {
            this.fetchPersonal(); // Llama a la función solo al buscar
        },
        // Cargar los tipos de vencimiento desde el servidor

        fetchPersonal() {
            axios.get(`/moviles/api/personal/`)
                .then(response => {
                    this.personales = response.data;
                    console.log(this.personales);
                })
                .catch(error => {
                    console.error('Error al cargar los personales:', error);
                });
        },        
        openModal(action, personal = null) {
            if (action === 'add') {
                this.modalTitle = 'Agregar personal';
                this.modalButtonLabel = 'Agregar';
                this.formData = {
                    id: null,
                    apellido: '',
                    nombre: '',
                    dni: '',
                    cuit: '',
                    baja: false,
                    fecha_nacimiento: '',
                    empresa: ''
                };
            } else if (action === 'edit') {
                this.modalTitle = 'Editar Personal';
                this.modalButtonLabel = 'Guardar Cambios';
        
                // Asignamos los datos del tipo de vencimiento al formulario
                this.formData = { ...personal,
                    empresa: personal.empresa,
                };
                console.log(this.formData);

            }
            $('#modal-form').modal('show');
        },
        closeModal() {
            $('#modal-form').modal('hide');
        },
        savePersonal() {
            const url = this.formData.id ? `/moviles/api/personal/${this.formData.id}/` : '/moviles/api/personal/';
            const method = this.formData.id ? 'PUT' : 'POST';
            
            fetch(url, {
                method: method,
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrf-token]').content,
                },
                body: JSON.stringify(this.formData)
            })
            .then(response => response.json())
            .then(data => {
                this.fetchPersonal(); // Refrescar la tabla
                this.closeModal();
                toastr.success('Registro guardado correctamente.'); // Notificación de éxito
            })
            .catch(error => {
                toastr.error(`Error: ${error.message}`); // Notificación de error
            });
        },
        deletePersonal(id) {
            // Mostrar cuadro de confirmación con SweetAlert2
            Swal.fire({
                title: '¿Estás seguro?',
                text: "No podrás revertir esto",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario confirma, entonces eliminar el registro
                    fetch(`/moviles/api/personal/${id}/`, { 
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': document.querySelector('[name=csrf-token]').content,
                        }
                    }).then(response => {
                            if (!response.ok) {
                                throw new Error('Error al eliminar el registro.');
                            }
                            this.fetchPersonal(); // Refrescar la tabla
                            toastr.success('Registro eliminado correctamente.');
                        })
                        .catch(error => {
                            toastr.error(`Error: ${error.message}`);
                        });
                }
            });
        },
        loadEmpresas() {
            fetch('/syh/api/clientes/')
                .then(response => response.json())
                .then(data => {
                    this.empresas = data;
                });
        },
        formatDate(date) {
          const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
          return new Date(date).toLocaleDateString('es-ES', options);
        }        
    }
});
</script>

{% endblock %}