{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<meta name="csrf-token" content="{{ csrf_token }}">
<div id="app-vencimientos" class="container mt-4">
    <div class="row mb-2">
        <div class="col-md-6">
            <input v-model="searchQuery" @input="onSearch" class="form-control" placeholder="Buscar por detalle, móvil o tipo de vencimiento" />
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-primary" @click="openModal('add')"><i class="fas fa-plus"></i> </button>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Detalle</th>
                <th>Fecha</th>
                <th>Movil</th>
                <th>Tipo Vencimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="vencimiento in filteredVencimiento" :key="vencimiento.id">
                <td>[[ vencimiento.detalle ]]</td>
                <td>[[ vencimiento.fecha ]]</td>
                <td>[[ vencimiento.movil_patente ]]</td>
                <td>[[ vencimiento.tipo_vencimiento_nombre ]]</td>
                <td>
                    {% if request.user.is_superuser %}
                        <button class="btn btn-warning btn-sm" @click="openModal('edit', vencimiento)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" @click="deleteVencimiento(vencimiento.id)">
                            <i class="fas fa-trash"></i> 
                        </button>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal para Agregar/Editar Tipo vencimiento... -->
    <div class="modal" tabindex="-1" role="dialog" id="modal-form">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">[[ modalTitle ]]</h5>
                    <button type="button" class="close" @click="closeModal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="saveVencimiento">
                        <div class="form-group">
                            <label for="detalle">Detalle</label>
                            <input v-model="formData.detalle" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input v-model="formData.fecha" class="form-control" type="date">
                        </div>

                        <div class="form-group">
                            <label for="movil">Movil</label>
                            <select v-model="formData.movil" class="form-control">
                                <option value="">-- Seleccione un movil --</option>
                                <option v-for="movil in moviles" :key="movil.id" :value="movil.id">[[ movil.patente ]]</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="tipo_vencimiento">Tipo Vencimiento</label>
                            <select v-model="formData.tipo_vencimiento" class="form-control">
                                <option value="">-- Seleccione un tipo de vencimiento --</option>
                                <option v-for="tipo in tipos" :key="tipo.id" :value="tipo.id">[[ tipo.nombre ]]</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success">[[ modalButtonLabel ]]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
new Vue({
    el: '#app-vencimientos',
    delimiters: ['[[', ']]'],
    data() {
        return {
            vencimientos: [],  // Lista de tipos de vencimiento...
            searchQuery: '',
            formData: {
                id: null,
                detalle: '',
                fecha: '',
                movil: '',
                tipo_vencimiento: ''
            },
            modalTitle: '',
            modalButtonLabel: '',
            moviles: [],
            tipos: [],
        };
    },
    computed: {
        filteredVencimiento() {
            if (!this.searchQuery) {
                return this.vencimientos; // Devuelve todo si no hay búsqueda
            }
            return this.vencimientos.filter(vencimiento =>
                vencimiento.detalle.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                vencimiento.movil.patente.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                vencimiento.tipo_vencimiento.nombre.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                vencimiento.movil.empresa.nombre.toLowerCase().includes(this.searchQuery.toLowerCase())
            );
        }
    },
    mounted() {
        this.fetchVencimiento();
        this.loadMoviles();
        this.loadTipoVencimiento();
    },
    methods: {
        onSearch() {
            this.fetchVencimiento(); // Llama a la función solo al buscar
        },
        // Cargar los tipos de vencimiento desde el servidor

        fetchVencimiento() {
            axios.get(`/moviles/api/vencimiento/`)
                .then(response => {
                    console.log(response.data.results);
                    this.vencimientos = response.data.results;
                })
                .catch(error => {
                    console.error('Error al cargar los vencimientos:', error);
                });
        },        
        openModal(action, vencimiento = null) {
            if (action === 'add') {
                this.modalTitle = 'Agregar Vencimiento';
                this.modalButtonLabel = 'Agregar';
                this.formData = {
                    id: null,
                    detalle: '',
                    fecha: '',
                    movil: '',
                    tipo_vencimiento: ''
                };
            } else if (action === 'edit') {
                this.modalTitle = 'Editar Vencimiento';
                this.modalButtonLabel = 'Guardar Cambios';
        
                // Asignamos los datos del tipo de vencimiento al formulario
                this.formData = { ...vencimiento,
                    movil: vencimiento.movil,
                    tipo_vencimiento: vencimiento.tipo_vencimiento
                };

                console.log(vencimiento);
            }
            $('#modal-form').modal('show');
        },
        closeModal() {
            $('#modal-form').modal('hide');
        },
        saveVencimiento() {
            const url = this.formData.id ? `/moviles/api/vencimiento/${this.formData.id}/` : '/moviles/api/vencimiento/';
            const method = this.formData.id ? 'PUT' : 'POST';

            fetch(url, {
                method: method,
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrf-token]').content,
                },
                body: JSON.stringify(this.formData)
            })
            .then(response => response.json())
            .then(data => {
                this.fetchVencimiento(); // Refrescar la tabla
                this.closeModal();
                toastr.success('Registro guardado correctamente.'); // Notificación de éxito
            })
            .catch(error => {
                toastr.error(`Error: ${error.message}`); // Notificación de error
            });
        },
        deleteVencimiento(id) {
            // Mostrar cuadro de confirmación con SweetAlert2
            Swal.fire({
                title: '¿Estás seguro?',
                text: "No podrás revertir esto",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario confirma, entonces eliminar el registro
                    fetch(`/moviles/api/vencimiento/${id}/`, { 
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': document.querySelector('[name=csrf-token]').content,
                        }
                    }).then(response => {
                            if (!response.ok) {
                                throw new Error('Error al eliminar el registro.');
                            }
                            this.fetchVencimiento(); // Refrescar la tabla
                            toastr.success('Registro eliminado correctamente.');
                        })
                        .catch(error => {
                            toastr.error(`Error: ${error.message}`);
                        });
                }
            });
        },
        loadMoviles() {
            axios.get(`/moviles/api/movil/`)
                .then(response => {
                    console.log(response.data.results);
                    this.moviles = response.data.results;
                })
                .catch(error => {
                    console.error('Error al cargar los vencimientos:', error);
                });            
        },
        loadTipoVencimiento() {
            axios.get(`/moviles/api/tipo_vencimiento/`)
                .then(response => {
                    console.log(response.data.results);
                    this.tipos = response.data.results;
                })
                .catch(error => {
                    console.error('Error al cargar los vencimientos:', error);
                });            
        },
    }
});
</script>

{% endblock %}